rules_version = '2';

service firebase.storage {
  match /b/{bucket}/o {
    function isOwner(parentId) {
      return request.auth != null
        && request.auth.uid == parentId;
    }

    match /parents/{parentId}/children/{childId}/{allPaths=**} {
      allow read: if isOwner(parentId);

      allow write: if isOwner(parentId)
        && request.resource.size < 15 * 1024 * 1024
        && request.resource.contentType.matches("audio/.*|image/.*|application/json|application/octet-stream");

      allow delete: if isOwner(parentId);
    }
  }
}
